body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #5b4755;
}

h1 {
  margin: 0 auto 0 auto;
  padding: 20px 0;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  color: #eab0d9;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #eab0d9;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #eab0d9;
}

a {
  color: #e18ec9;
}

hr {
  border: 0;
  border-bottom: 0.5rem dotted #eab0d9;
  width: 5%;
  margin: 20px auto;
}

.top-container {
  background-image: linear-gradient(#f7e8f0, white);
  margin: 0;
}

.welcome {
  padding: 20px;
}

.cv-container {
  position: relative;
  height: auto;
  overflow: auto;
  width: 90%;
  margin: 40px auto 20px auto;
  text-align: center;
  border-style: dotted;
  border-color: #FBF5F9;
}

.narrow-container {
  position: relative;
  height: auto;
  overflow: auto;
  width: 50%;
  margin: 0 auto 0px auto;
  text-align: center;
}

.profile {
  position: relative;
  height: auto;
  overflow: auto;
  width: 50%;
  margin: 0 auto 20px auto;
}

.skills {
  background-color: white;
  position: relative;
  height: auto;
  overflow: auto;
  width: 50%;
  margin: 0 auto 0 auto;
}

.contact-me {
  padding: 1rem 0;
  width: 50%;
  position: relative;
  margin: 0 auto 0 auto;
  }

.bottom-container {
  background-color: #f7e8f0;
  padding: 20px;
  font-size: 0.9rem;
}

.profile-image {
  width: 27%;
  opacity: 80%;
  margin: 20px 0 0px 0;
}

.skill-row {
  margin: 2rem auto 2rem auto;
  text-align: left;
  line-height: 2;
  clear: both;
  overflow: auto;
  vertical-align: middle;
}

.skill-icon-left {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-icon-right {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.button {
font-family: 'Montserrat', sans-serif;
font-weight: bold;
border: none;
display: inline-block;
padding: 12px 20px;
vertical-align: middle;
overflow: hidden;
text-decoration: none;
color: #e18ec9;
background-color: #FBF5F9;
text-align: center;
cursor: pointer;
border-radius: 8px;
margin: 20px;
}

.footer-link {
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 2rem 1rem;
}

.body-link {
  text-decoration: none;
}

.minimalist-list {
  list-style-type: none;
  padding: 0;
}

.vertical-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto 40px auto;
  justify-content: center;

}

.box {
  max-width: 40%;
  min-width: 200px;
  margin: 0 5%;
}
